body {
    background-image: url('../images/pinstripes.png');
}

h2 {
    font-size: 1.3rem;
}

p {
    font-size: .8rem;
}

.img-fluid {
    max-height: 200px;
}

.display-4 {
    font-size: 1.5rem;
}

.lead {
    font-size: 1rem;
}

.jumbotron {
    min-height: 450px;
}

/* Smaller devices (mobile, 400px and up) */
@media (min-width: 400px) {
    p {
        font-size: 1rem;
    }
    
    .display-4 {
        font-size: 1.7rem;
    }

    .lead {
        font-size: 1.1rem;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h2 {
        font-size: 2rem;
    }

    .display-4 {
        font-size: 2.2rem;
    }

    .lead {
        font-size: 1.25rem;
    }

    .jumbotron {
        min-height: 500px;
    }

    .img-fluid {
        max-height: 250px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .display-4 {
        font-size: 2.8rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}